@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote p {
  color: rgba(0, 0, 0, 0.8) !important;
}

table {
  border-color: #fff !important;
  font-size: 18px !important;
}

th {
  text-align: left !important;
}

.shiki {
  overflow-x: auto !important;
  padding: 20px !important;
  margin: 0 !important;
  border-radius: 10px !important;
}

.shiki code {
  font-size: 20px !important;
}
